body{
    background-color: beige ;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.image{
    width: 800px;
}

.back:hover{
    color: azure;
    }
    .next:hover{
    color: azure;
    }

.btn{
    background-color: #db9860;
    font-size: 30px ;
    border: none;
    font-family: 'Dancing Script', cursive;
}